{% extends 'base.html' %}

{% load static %}
{% load markdownify %}


{% block content %}
<main class="mealplan-detail">
    <div>
        <a href="{% url 'meal_plan_delete' mealplan.id %}">Delete</a>
    </div>
    <div>
        <a href="{%url 'meal_plan_edit' mealplan.id %}">Edit</a>
    </div>
    {% if recipe.image %}
    <img src="{{ recipe.image }}" class="pull-right">
    {% endif %}
    <h2>by: {{ recipe.author | default_if_none:"Unknown" }}</h2>
</main>
{% endblock content %}