{% extends 'base.html' %}
{% load static %}
{% load markdownify %}

{% block content %}
<main class="tag-detail">
    <div>
        <a href="{% url 'tag_delete' tags.id %}">Delete</a>
    </div>
    <div>
        <a href="{% url 'tag_edit' tags.id %}">Edit</a>
    </div>
    {% if recipe.image %}
    <img src="{{ tag.image }}" class="pull-right">
    {% endif %}
    <h1>{{ tag.name }}</h1>
    <p>
        Created on {{ tag.created }} |
        Updated on {{ tag.updated }}
    </p>
    <p>Tags: {% for tag in recipe.tags.all %}{{ tag.name }} {% endfor %}</p>
    {{ tag.description | markdownify }}
    <h2>Ingredients</h2>
    <table>
        <thead>
            <tr>
                <th colspan="2">Amount</th>
                <th>Food item</th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient in tag.ingredients.all %}
            <tr>
                <td>{{ ingredient.amount }}</td>
                <td>{{ ingredient.measure.name }}</td>
                <td>{{ ingredient.food.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Steps</h2>
    <ol>
        {% for step in recipe.steps.all %}
        <li>{{ step.directions }}</li>
        {% endfor %}
    </ol>
</main>
{% endblock content %}